<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-8 is-variable ">
                <div class="column is-two-thirds has-text-left">
                    <h1 class="title is-1 has-text-centered">Free Quotes !!!</h1>
                    <p class="is-size-4 has-text-centered">Don't hesitate to reach out to us </p>
                    <div class="phone-number">
                        <h1 class="title is-success has-text-centered">619-371-8561</h1>
                    </div>
                </div>
                <form class="column is-one-third has-text-left" action="/contactrequest" method="post">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input is-medium" type="text" name="name">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input is-medium" type="text" name="email">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Phone Number</label>
                        <div class="control">
                            <input class="input is-medium" type="text" name="number">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Job Description</label>
                        <div class="control">
                            <textarea class="textarea is-medium" name="description"></textarea>
                        </div>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>