<div class="box has-text-centered">
  <h1 class="is-size-1 is-family-code" id="contact-link-view">Contact Information</h1>
</div>


<div class="hero-body">
   <div class="container has-text-centered">
       <div class="columns is-vcentered">
           <div class="column is-5">
               <figure class="image is-4by3">
                   <img src="https://picsum.photos/800/600/?random" alt="Description">
               </figure>
           </div>
           <div class="column is-6 is-offset-1">
              <div>

                  <a href="mailto:jsonavalos@gmail.com" target="_blank" class="button is-light is-large"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                  <a href="https://instagram.com" target="_blank" class="button is-light is-large"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <a href="https://twitter.com" target="_blank" class="button is-light is-large"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
               </div>

           </div>
       </div>
   </div>
</div>