<div class="box has-text-centered">
  <h1 class="is-size-1 is-family-code" id="contact-link-view">Contact</h1>
</div>
<div class="column" >
  <!-- Profile -->
  <div class="card">
     <div class="card-content ">
        <h3 class="title is-4">Profile</h3>
        <div class="content">
           <table class="table-profile">
              <tr>
                 <th colspan="1"></th>
                 <th colspan="2"></th>
              </tr>
              <tr>
                 <td>Email:</td>
                 <td ><a href="mailto:jsonavalos@gmail.com" >jsonavalos@gmail.com</a></td>
              </tr>
              <tr>
                 <td>Phone:</td>
                 <td>619-371-8561</td>
              </tr>
              <tr>
                 <td>LinkedIn</td>
                 <td ><a href="https://www.linkedin.com/in/jsonavalos/" >Jason's LinkedIn</a></td>
              </tr>
              <tr>
                 <td>GitHub</td>
                 <td><a href="https://github.com/jsonavalos" >Jason's GitHub</a></td>
              </tr>
           </table>
        </div>
        <br>
     </div>
  </div>
</div>