<section class="section">
   <div class="box has-text-centered">
      <h1 class="is-size-1 is-family-code" id="courses-link-view">Relevant Coursework</h1>
   </div>
   <div class="columns">
      <div class="column is-8 is-offset-2">
         <div class="content is-medium">

            <ul class="has-text-centered" id="ul-courses">
               <li>Complete Android Development with Kotlin Masterclass</li>
               <li>The Complete 2024 Web Development Bootcamp</li>
               <li>State of the Art Android App Development in Kotlin</li>
               <li>Adobe XD to Android Studio XML - Design, Implement & Animate</li>
               <li>Kotlin Coroutines and Flow for Android Development [2024]</li>
               <li>State of the Art Android App Development in Kotlin</li>
               <li>ASP.NET Core 5.0 MVC The Beginners Guide To Becoming A Pro</li>
               <li>Build a Backend REST API with Python & Django - Beginner</li>
               <li>Node, SQL, & PostgreSQL - Mastering Backend Web Development</li>
               <li>The Ultimate MySQL Bootcamp: Go from SQL Beginner to Expert</li>
               <li>Complete A.I. & Machine Learning, Data Science Bootcamp</li>
               <li>TensorFlow Developer Certificate Bootcamp</li>
            </ul>


         </div>
         <hr>
</section>