<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- Bulma Version 0.9.0-->
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/hero.css">
        <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
        <link rel="stylesheet" href="/static/css/home.css" />
        
    </head>
    <body>

        <section class="hero is-bold" id="main_background">

            
         <%- include('navbar'); -%>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-primary">
                    Certified !
                    </h1>
                    
                </div>
            </div>
        </section>


        <section >
            
        <div class="box has-text-centered">
            <h1 class="is-size-1 is-family-code" >About <span id="typewriter" style="color: blue;"></span></h1>
        </div>
        <p class="is-family-code has-text-centered" >Recent college graduate with a Bachelor of Science in <strong>Mathematics - Computer Science</strong> from <a href="https://ucsd.edu/" target="_blank">University of California, San Diego.</a>
            My past projects have not only pushed me towards becoming a proficient user in multiple programming languages, but it has equally as important allowed me to work with individuals from different backgrounds. These
            experiences have contributed to my teamwork and communication skills to evolve. I consider myself an approachable individual with a strong desire to continue growing and expanding my knowledge.
        </p>
    </section>



      















   

       
       
        <%- include('projects'); %> 


        

        


<!-- Begin Skills Content -->
<section class="container" style="margin-top: 5%;">
    <div class="box has-text-left">
        <h1 class="is-size-1 is-family-code" id="skills-link-view">Skills</h1>
    </div>
<div class="section-light skills " id="skills">
    
    <div class="container">
      <div class="columns is-multiline">
      
        <div
          class="column is-6"
          data-aos="fade-in"
          data-aos-easing="linear"
        >
          <h1>Adobe Experience Design</h1>
          <progress class="progress" value="70" max="100">30%</progress>
          <h1>Adobe After Effects</h1>
          <progress class="progress" value="65" max="100">30%</progress>
          <h1>Visual Studio Code</h1>
          <progress class="progress" value="58" max="100">45%</progress>
          <h1>Sketch</h1>
          <progress class="progress" value="90" max="100">60%</progress>
          h1>React</h1>
          <progress class="progress" value="60" max="100">60%</progress>
          h1>React</h1>
          <progress class="progress" value="60" max="100">60%</progress>
          h1>React</h1>
          <progress class="progress" value="60" max="100">60%</progress>
        </div>
        <div
          class="column is-6"
          data-aos="fade-in"
          data-aos-easing="linear"
        >
          <h1>HTML</h1>
          <progress class="progress" value="85" max="100">30%</progress>
          <h1>CSS</h1>
          <progress class="progress" value="95" max="100">30%</progress>
          <h1>VueJS</h1>
          <progress class="progress" value="70" max="100">45%</progress>
          <h1>React</h1>
          <progress class="progress" value="60" max="100">60%</progress>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- End Skills Content -->

  

<section class="section">
    <div class="box has-text-centered">
        <h1 class="is-size-1 is-family-code" id="internships-link-view">Internships</h1>
    </div>
<div class="columns">
  <div class="column is-8 is-offset-2">
    <div class="content is-medium">
      <h2 class="subtitle is-4">December 25, 2018</h2>
      <h1 class="title">Getting Started</h1>
      <p>This is a starter template for creating a beautiful, customizable blog with minimal
        effort. You’ll only have to change a few settings and you’re ready to go. As with all Jigsaw sites,
        configuration settings can be found in config</p>
    </div>
  </div>
</div>
</section>
</section>








        <footer class="footer">
            
    

                <%- include('contact'); -%>


                


            
            <script src="../js/bulma.js"></script>
            <script src="/static/js/home.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
            <script>
              new Typewriter('#typewriter', {
                strings: ['Me','Jason'],
                autoStart: true,
                loop: true,
                delay: 500
              });
            </script>
            <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
            <script>
              AOS.init({
                once: true
              });
            </script>



        </footer>

    </body>
</html>
