<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- Bulma Version 0.9.0-->
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/hero.css">
        <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
        <link rel="stylesheet" href="/static/css/home.css" />
        
    </head>
    <body>

        <section class="hero is-bold" id="main_background">

            
         <%- include('navbar'); -%>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-primary">
                    Certified !
                    </h1>
                    
                </div>
            </div>
        </section>
        <div class="box has-text-centered">
            <h1 class="is-size-1 is-family-code" >About Me</h1>
  
        </div>
        <p class="is-family-code has-text-centered" >Recent college graduate with a Bachelor of Science in <strong>Mathematics - Computer Science</strong> from <a href="https://www.google.com/" target="_blank">University of California, San Diego</a>
       looking forward to improve everyday 
        
        </p>




      















   

        <div class="box has-text-centered">
                 <h1 class="is-size-1 is-family-code" id="project-title">Projects</h1>
        </div>
       
        <%- include('projects'); %> 


        <div class="box has-text-left">
            <h1 class="is-size-1 is-family-code" >Skills</h1>
   </div>







        <footer class="footer">
            
    

                <%- include('contact'); -%>
            
            <script src="../js/bulma.js"></script>
            <script src="/static/js/home.js"></script>
        </footer>

    </body>
</html>
