<section class="section">
    <div class="box has-text-centered">
       <h1 class="is-size-1 is-family-code" id="internships-link-view">Internships</h1>
    </div>
    <div class="columns">
       <div class="column is-8 is-offset-2">
          <div class="content is-medium">
             <h2 class="subtitle is-4">October, 2020 - Present</h2>
             <h1 class="title">Skinalytics Intern</h1>
             <ul>
                <li>Volunteered to help a start-up with a new Android App that serves as a social media platform
                   for people to share their experience with different skin products.</li>
                <li>Design and implement search input boxes using API calls to the database storing brands and
                   products.</li>
                <li>Help with encryption and decryption of users’ sensitive information.</li>
             </ul>

             <div class="columns is-vcentered">
               <div class="column is-5">
                  <figure class="image is-4by3">
                     <img src="https://picsum.photos/800/600/?random" alt="Description">
                  </figure>
               </div>
               <div class="column is-5 is-offset-1">
                  <figure class="image is-4by3">
                     <img src="https://picsum.photos/800/600/?random" alt="Description">
                  </figure>
               </div>
       </div>
    </div>
    <hr>
 </section>