<div class="hero-head">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-burger burger" data-target="navbarMenu">
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <div class="tabs is-right">
                        <ul>
                            <li class="is-active"><a>About</a></li>
                            <li><a id="projects-link">Projects</a></li>
                            <li><a id="internships-link">Internships</a></li>
                            <li><a id="skills-link">Skills</a></li>
                            <li><a id="contact-link">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>