       <section class="container" id="projects-link-view" >
            <div id="projects-content"></div>
            <div class="box has-text-centered">
                <h1 class="is-size-1 is-family-code" >Internships</h1>
       </div>
        </section>