<section class="section">
   <div class="box has-text-centered">
      <h1 class="is-size-1 is-family-code" id="skills-link-view">Skills</h1>
   </div>
   <div class="columns">

      <div class="column is-8 is-offset-2">
         <a id="expand-all-drawers-btn"><strong>+</strong> Expand All</a>

         <div class="box drawer">
            <h1 class="is-size-2 is-family-code drawer-title" id="languages-drawer">Languages</h1>
            <div class="content is-medium has-text-centered" id="languages-drawer-content">
               <i class="programming lang-python"></i>
               <ul>
                  <li><i class="programming lang-python"></i></li>
                  <li><i class="programming lang-java"></i></li>
                  <li><i class="programming lang-kotlin"></i></li>
                  <li><i class="programming lang-javascript"></i></li>
                  <li><i class="programming lang-cplusplus"></i></li>
                  <li><i class="programming lang-r"></i></li>

                  <li>Kotlin</li>
                  <li>Javascript</li>
                  <li>C++</li>
                  <li>R </li>
               </ul>
            </div>




         </div>
         <div class="box drawer">
            <h1 class="is-size-2 is-family-code drawer-title">Tools</h1>




            <div class="content is-medium" id="languages-drawer-content">
               <h2 class="subtitle is-4">Languages</h2>
               <h1 class="title">Skinalytics Intern</h1>
               <ul>
                  <li>Volunteered to help a start-up with a new Android App that serves as a social media platform
                     for people to share their experience with different skin products.</li>
                  <li>Design and implement search input boxes using API calls to the database storing brands and
                     products.</li>
                  <li>Help with encryption and decryption of users’ sensitive information.</li>
               </ul>
            </div>

         </div>
         <div class="box drawer">
            <h1 class="is-size-2 is-family-code drawer-title">Database Management</h1>

            <div class="content is-medium" id="languages-drawer-content">
               <h2 class="subtitle is-4">Languages</h2>
               <h1 class="title">Skinalytics Intern</h1>
               <ul>
                  <li>Volunteered to help a start-up with a new Android App that serves as a social media platform
                     for people to share their experience with different skin products.</li>
                  <li>Design and implement search input boxes using API calls to the database storing brands and
                     products.</li>
                  <li>Help with encryption and decryption of users’ sensitive information.</li>
               </ul>
            </div>

         </div>
         <div class="box drawer">
            <h1 class="is-size-2 is-family-code drawer-title">Cloud-Based Technologies</h1>
            <div class="content is-medium" id="languages-drawer-content">
               <h2 class="subtitle is-4">Languages</h2>
               <h1 class="title">Skinalytics Intern</h1>
               <ul>
                  <li>Volunteered to help a start-up with a new Android App that serves as a social media platform
                     for people to share their experience with different skin products.</li>
                  <li>Design and implement search input boxes using API calls to the database storing brands and
                     products.</li>
                  <li>Help with encryption and decryption of users’ sensitive information.</li>
               </ul>
            </div>
         </div>

      </div>
   </div>
   <hr>
</section>