<section class="section">
    <div class="box has-text-centered">
       <h1 class="is-size-1 is-family-code" id="skills-link-view">Skills</h1>
    </div>
    <div class="columns">

       <div class="column is-8 is-offset-2">
        <div class="box">
            <h1 class="is-size-1 is-family-code" id="languages-drawer" >Languages</h1>

            <div class="content is-medium" id="languages-drawer-content" style="display: none;">
                <h2 class="subtitle is-4">Languages</h2>
                <h1 class="title">Skinalytics Intern</h1>
                <ul>
                   <li>Volunteered to help a start-up with a new Android App that serves as a social media platform
                      for people to share their experience with different skin products.</li>
                   <li>Design and implement search input boxes using API calls to the database storing brands and
                      products.</li>
                   <li>Help with encryption and decryption of users’ sensitive information.</li>
                </ul>
             </div>


         </div>
         <div class="box">
            <h1 class="is-size-1 is-family-code" >Tools</h1>
         </div>
         <div class="box">
            <h1 class="is-size-1 is-family-code" >Database Management</h1>
         </div>
         <div class="box">
            <h1 class="is-size-1 is-family-code" >Cloud-Based Technologies</h1>
         </div>
          <div class="content is-medium">
             <h2 class="subtitle is-4">Languages</h2>
             <h1 class="title">Skinalytics Intern</h1>
             <ul>
                <li>Volunteered to help a start-up with a new Android App that serves as a social media platform
                   for people to share their experience with different skin products.</li>
                <li>Design and implement search input boxes using API calls to the database storing brands and
                   products.</li>
                <li>Help with encryption and decryption of users’ sensitive information.</li>
             </ul>
          </div>
       </div>
    </div>
    <hr>
 </section>