<section class="section">
   <div class="box has-text-centered">
      <h1 class="is-size-1 is-family-code" id="skills-link-view">Skills</h1>
   </div>
   <div class="columns">
      <div class="column is-8 is-offset-2">
         <a id="expand-all-drawers-btn"><strong>+</strong> Expand All</a>
         <div class="box drawer">
            <h1 class="is-size-2 is-family-code drawer-title" id="languages-drawer">Languages</h1>
            <div class="content is-medium has-text-centered" id="languages-drawer-content">
               <p><i class="programming lang-python"></i>, <i class="programming lang-java"></i>,
                  <i class="programming lang-kotlin"></i>, <i class="programming lang-cpp"></i> , <i
                     class="programming lang-javascript"></i>,
                  <i class="programming lang-typescript"></i>,
                  <i class="programming lang-swift"></i>
               </p>
            </div>
         </div>
         <div class="box drawer" style="display: none;">
            <h1 class="is-size-2 is-family-code drawer-title">Tools</h1>
            <div class="content is-medium has-text-centered" id="languages-drawer-content">
               <p>TBD</p>
            </div>
         </div>
         <div class="box drawer">
            <h1 class="is-size-2 is-family-code drawer-title">Database Management</h1>

            <div class="content is-medium has-text-centered" id="languages-drawer-content">
               <p>DynamoDB, MongoDB, Database Normalization, MySQL </p>
            </div>

         </div>
         <div class="box drawer" style="display: none;">
            <h1 class="is-size-2 is-family-code drawer-title">Cloud-Based Technologies</h1>
            <div class="content is-medium has-text-centered" id="languages-drawer-content">
               <p>TBD</p>
            </div>
         </div>

      </div>
   </div>
   <hr>
</section>