#main_background {
    background-image: url("/static/images/NASA.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100vw;
  
  
}

#experimental {
    border: .01px;
}

#experimental:hover {
    border-style: inset;
    border-left-color: aqua ;
    border-top-color: aqua ;
    border-radius: 20px;
}

