


#main_background {
    background-image: url("/static/images/bulbs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100%;
}


#experimental {
    border: .01px;
}

#experimental:hover {
    border-style: inset;
    border-left-color: aqua ;
    border-top-color: aqua ;
    border-radius: 20px;
}

