#experimental {
    border: .01px;
}

#experimental:hover {
    border-style: inset;
    border-left-color: aqua ;
    border-top-color: aqua ;
    border-radius: 20px;
}

.drawer div{
    display: none;
}

.drawer:hover {
    background-color: rgb(0, 0, 0);
    color:  white;
}

.nohover {
    background-color: white;
    color: black;
}

#ul-courses {
    list-style: none;
}
